body {
   background-color: rgb(49, 49, 49);
}

h1 {
  font-family: 'Trebuchet Ms', sans-serif;
  font-weight: bold;
  color: #FFF3E7;
}
h2 {
  font-family: 'Trebuchet Ms', sans-serif;
  font-weight: normal;
  width: 80%;
  font-size: 30px;
}
img {
  max-width: 100%;
  height: auto;
  float: left;
  padding: 20px;
}

.image1 {
  max-width: 50%;
  height: auto;
  float: left;
}
center {
  font-family: 'Trebuchet Ms', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.container{
    text-align:center;
   
}
 .jobicons {
   display:inline-block;
    max-width: 100%;
    height: auto;
    padding: 5px;
 }
 .intext {
   font-family: 'Trebuchet Ms', sans-serif;
   font-size: 40px;
   padding: 0px;
   color: #FFF3E7;
   text-align: center;
   margin: auto;
 }

.column {
  margin-left: auto;
  margin-right: auto;
  width: 37.5em;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: flex;
}
.ffxivcrafting {
  width: 55%;
  height: auto;
  float: left;
}
h3 {
  font-family: 'Trebuchet Ms', sans-serif;
  color: #FFF3E7;
  text-align: left;
  margin: auto;
  width: 40%;
  float: right;
  padding: 15px;
  font-size: 25px;
  font-weight: normal;

}
.fflink {
  font-family: 'Trebuchet Ms', sans-serif;
  color: #FFF3E7;
  font-size: 50px;
}
.garland {
  width: 55%;
  height: auto;
  float: left;
}
.univ {
  width: 55%;
  height: auto;
  float: left;
}
.tc {
  width: 55%;
  height: auto;
  float: left;
}
h4 {
  font-family: 'Trebuchet Ms', sans-serif;
  color: #FFF3E7;
  text-align: center;
  margin: auto;
  width: 40%;
  font-size: 15px;
  font-weight: normal;

}
